header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202341;
  height: 120px;
  margin-bottom: 20px;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.header-title {
  color: rgba(145, 210, 247, 0.6);
  font-size: 25px;
  font-family: fantasy;
  font-weight: 900;
  margin: 15px;
  margin-top: 35px;
}

.news-logo {
  height: 90x;
  width: 230px;
  margin-top: 15px;
}

.search-button {
  border: 3px solid rgba(36, 86, 117, 0.6);
  background: linear-gradient(
    45deg,
    rgba(51, 51, 109, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(51, 51, 109, 0.8)
  );
  width: 150px;
  color: rgba(145, 210, 247, 0.6);
  font-family: fantasy;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}

.search-button:hover {
  background-color: #a8d7ee;
}

.search-button:active {
  background-color: rgba(67, 129, 165, 0.6);
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.search-bar-container {
  display: flex;
  justify-content: flex-end;
}

.search-input-bar {
  border: 3px solid rgba(36, 86, 117, 0.6);
  background: linear-gradient(
    45deg,
    rgba(51, 51, 109, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(51, 51, 109, 0.8)
  );
  width: 350px;
  color: rgba(145, 210, 247, 0.6);
  font-family: fantasy;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  padding-left: 10px;
}

@media (min-width: 500px) {
  .logo-title-container {
    flex-direction: column;
    margin: 0px;
  }

  .news-logo {
    width: 200px;
    height: 70px;
    margin-top: 30px;
  }

  .header-title {
    font-size: 16px;
    margin: 0px;
  }

  .search-button,
  .search-input-bar {
    width: 100px;
  }
}

@media (min-width: 820px) {
  .logo-title-container {
    flex-direction: column;
    margin: 0px;
  }

  .news-logo {
    width: 200px;
    height: 70px;
    margin-top: 30px;
  }

  .header-title {
    font-size: 16px;
    margin: 0px;
  }

  .search-button,
  .search-input-bar {
    width: 100px;
  }
}

@media (min-width: 1440px) {
  .logo-title-container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
  }

  .news-logo {
    height: 90x;
    width: 230px;
    margin-top: 15px;
  }

  .header-title {
    font-size: 25px;
    margin: 15px;
  margin-top: 35px;
  }

  .search-button {
    width: 150px;
  }
  
  .search-input-bar {
    width: 350px;
  }
}
